<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
		<div class="container <%= controller_name %> <%= action_name %>">
			<div class="row justify-content-center">
				<div class="col-md-5 col-md-offset-4">
					<%= render 'shared/messages' %>
				</div>
			</div>
		 	<%= yield %>
		 	
		</div>
	</body>
</html>
